<form class="gs-form">
  <div>
    <fieldset class="gs-breakpoints">
      <legend>Breakpoints</legend>

      <div>
        <div>
          <label for="breakpointtablet">Breakpoint tablet</label>
          <input
            id="breakpointtablet"
            name="grid_breakpoint_tablet"
            size="10"
            type="text"
            value="{{ grid_breakpoint_tablet }}"
          >
        </div>

        <div>
          <label for="breakpointdesktop">Breakpoint desktop</label>
          <input
            id="breakpointdesktop"
            name="grid_breakpoint_desktop"
            size="10"
            type="text"
            value="{{ grid_breakpoint_desktop }}"
          >
        </div>
      </div>
      <p><small>The system assumes three, roughly mobile, tablet, and desktop. This implies two breakpoints.</small></p>
    </fieldset>

    <fieldset class="gs-columns">
      <legend>Columns</legend>

      <div>
        <div>
          <label for="columnsmobile">Grid columns mobile (read-only)</label>
          <input
            id="columnsmobile"
            name="grid_columns_mobile"
            readonly
            size="10"
            type="number"
            value="{{ grid_columns_mobile }}"
          >
        </div>

        <div>
          <label for="columnstablet">Grid columns tablet (read-only)</label>
          <input
            id="columnstablet"
            name="grid_columns_tablet"
            readonly
            size="10"
            type="number"
            value="{{ grid_columns_tablet }}"
          >
        </div>

        <div>
          <label for="columnsdesktop">Grid Columns desktop</label>
          <input
            id="columnsdesktop"
            max="120"
            min="8"
            name="grid_columns_desktop"
            size="10"
            step="2"
            type="number"
            value="{{ grid_columns_desktop }}"
          >
        </div>
      </div>
      <p><small>The system assumes mobile sizes will use 1 column, and tablet will use 2 columns. Desktop sizes should use an even value, typically 12, 16.</small></p>
    </fieldset>

    <fieldset class="gs-column-gap">
      <legend>Column gap</legend>

      <div>
        <div>
          <label for="columngapmobile">Column gap (mobile)</label>
          <input
            id="columngapmobile"
            name="grid_column_gap_mobile"
            size="22"
            type="text"
            value="{{ grid_column_gap_mobile }}"
          >
        </div>

        <div>
          <label for="columngaptablet">Column gap (tablet)</label>
          <input
            id="columngaptablet"
            name="grid_column_gap_tablet"
            size="22"
            type="text"
            value="{{ grid_column_gap_tablet }}"
          >
        </div>

        <div>
          <label for="columngapdesktop">Column gap (desktop)</label>
          <input
            id="columngapdesktop"
            name="grid_column_gap_desktop"
            size="22"
            type="text"
            value="{{ grid_column_gap_desktop }}"
          >
        </div>
      </div>
      <p><small>Use literal numeric values, or variables named to match your design system.</small></p>

    </fieldset>

    <fieldset class="gs-row-gap">
      <legend>Column gap</legend>

      <div>
        <div>
          <label for="rowgapmobile">Row gap (mobile)</label>
          <input
            id="rowgapmobile"
            name="grid_row_gap_mobile"
            size="22"
            type="text"
            value="{{ grid_row_gap_desktop }}"
          >
        </div>

        <div>
          <label for="rowgaptablet">Row gap (tablet)</label>
          <input
            id="rowgaptablet"
            name="grid_row_gap_tablet"
            size="22"
            type="text"
            value="{{ grid_row_gap_tablet }}"
          >
        </div>

        <div>
          <label for="rowgapdesktop">Row gap (desktop)</label>
          <input
            id="rowgapdesktop"
            name="grid_row_gap_desktop"
            size="22"
            type="text"
            value="{{ grid_row_gap_desktop }}"
          >
        </div>
      </div>
      <p><small>Use literal numeric values, or variables named to match your design system.</small></p>

      <input
        id="columnsdesktopfactors"
        name="grid_columns_desktop_factors"
        type="hidden"
        value="{{ grid_columns_desktop_factors }}"
      >

    </fieldset>
  </div>
</form>
